:root {
    --background-color: hsl(30, 54%, 90%);
    --foreground-color: hsl(0, 0%, 100%);
    --prep-container-color: hsl(330, 100%, 98%);

    --subhead-text-color: hsl(14, 45%, 36%);
    --bold-text-color: hsl(24, 5%, 18%);
    --small-text-color: hsl(30, 10%, 34%);
    --prep-text-color: hsl(332, 51%, 32%);

    --text-font-header: young serif;
    --text-font-para: outfit;

    --young-font-weight-400: normal;
    --outfit-font-weight-400: light;
    --outfit-font-weight-600: normal;
    --outfit-font-weight-700: bold;

    --font-size-200: 14px;
    --font-size-215: 15px;
    --font-size-320: 22px;
    --font-size-590: 40px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    padding: 100px 0px 100px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ::-webkit-scrollbar {
        display: none;
    }
    
}

h2 {
    font-family: var(--text-font-header), sans-serfif;
    font-size: var(--font-size-320);
    color: var(--subhead-text-color);
}

p, li, h4 {
    font-family: var(--text-font-para);
    line-height: 22px;
    font-weight: var(--outfit-font-weight-400);
    color: var(--small-text-color);
}

.container {
    background-color: var(--foreground-color);
    max-width: 650px;
    border-radius: 10px;
    flex: 1;
    overflow: scroll;
}

.header h1 {
    padding: 16px 0px 16px 37.5px;
    font-size: var(--font-size-590);
    font-family: var(--text-font-header), sans-serif;
}

.header p {
    padding: 0px 0px 16px 37.5px;
    font-size: var(--font-size-215);
}

.oml {
    max-width: 650px;
    text-align: center;
    padding-top: 37.5px;
}

.oml img {
    border-radius: 10px;
}

.rose-holder {
    padding: 12px 37.5px 0px 37.5px;
}

.rose {
    background-color: var(--prep-container-color);
    min-height: 150px;
    border-radius: 10px;
    padding: 12px 0px 0px 20px;
}

.rose h3 {
    color: var(--prep-text-color);
}

.rose ul {
    padding-left: 30px;
}

.rose li {
    padding-top: 12px;
}

.rose li::marker {
    color: var(--prep-text-color);
}

main {
    padding: 16px 37.5px 0px 37.5px;
}

.ingredients ul {
    padding-left: 26px;
    padding-bottom: 16px;
}

.ingredients li {
    padding-top: 16px;
}

.ingredients li::marker {
    color: var(--subhead-text-color);
}

.instructions ol {
    padding-left: 26px;
    padding-bottom: 16px;
}

.instructions li {
    padding-top: 16px;
    font-size: var(--font-size-200);
    word-spacing: .1rem;
}

.instructions li::marker {
    color: var(--subhead-text-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: var(--outfit-font-weight-700);
}

.nutrition :where(h2, h4, p) {
    padding-bottom: 12px;
    padding-top: 12px;
}

.item-1 {
    max-width: 355px;
    padding-left: 20px;
    display: flex;
}

.item-1 p {
    margin-left: auto;
    color: var(--subhead-text-color);
    font-weight: var(--outfit-font-weight-700);
}

.item-2 {
    max-width: 321px;
    padding-left: 20px;
    display: flex;
}

.item-2 p {
    margin-left: auto;
    color: var(--subhead-text-color);
    font-weight: var(--outfit-font-weight-700);
}

.item-3 {
    max-width: 329px;
    padding-left: 20px;
    display: flex;
}

.item-3 p {
    margin-left: auto;
    color: var(--subhead-text-color);
    font-weight: var(--outfit-font-weight-700);
}

.item-4 {
    max-width: 329px;
    padding-left: 20px;
    padding-bottom: 30px;
    display: flex;
}

.item-4 p {
    margin-left: auto;
    color: var(--subhead-text-color);
    font-weight: var(--outfit-font-weight-700);
}